*{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}


header{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.foto-logo{
    margin-left: 18vw;
}

.jumbotron{
    background-image: url("../assets/img/jumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motto{
    margin-right: 90vh;
    padding: 25px;
    text-align: left;
    font-size: 50px;
    height: 55vh;
    width: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.gas{
    margin-top: 13vh;
    margin-left: 3vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
    text-align: center;
  }

.flex-container > div {
    margin: 100px;
    padding: 20px;
    font-size: 30px;
  }

#flex3{
    font-size: 10px;
}

h1{
    margin-top: 4%;
    margin-right: -3vh;
    text-align: center;
    font-size: 40px;
}

h2{
    text-align: center;
    margin: 15px;
    font-size: 25px;
}

h3{
    text-align: center;
    margin: 15px;
    font-size: 25px;
}

.texto{
    font-size: 20px;
}

.num{
    background: radial-gradient(rgb(245, 174, 61), rgb(218, 145, 25));
    margin-left: 40%;
    font-size: 40px;
    color: white;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

form{
    border: 1px solid rgb(207, 204, 204);
    height: 45vh;
    width: 50vh;
    text-align:left;

}

form label {
    display: block;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

.form-input {
    display: block;
    align-items: left;
    margin: 10px;
    height: 35px;
    width: 95%;
}
.form-input:valid, .form-input-valid {
    border: green solid 5px;
}
.form-input:invalid,.form-input-invalid {
    border: red solid 5px;
}
#errorNombre, #errorEdad {
    color: red;
    display: none;
}
#ciudades{
    height: 35px;
    width: 96%;
    margin-left: 2%;
    font-size: 15px;
}

#check{
    width: 15px;
    height: 15px;
    margin: 15px;
}

#boton{
    width: 25%;
    font-size: 20px;
    background: radial-gradient(rgb(245, 174, 61), rgb(218, 145, 25));
}

.op1, .op2, .op3{
    font-size: 20px;
    border: 1px solid rgb(197, 197, 197);
}

.nom1, .nom2, .nom3{
    font-size: 20px;
}

body {overflow-x:hidden;}


footer{
    height: 200px;
    background-color: rgb(117, 136, 151);
}

.footer-logo{
    margin-top: 4%;
    margin-left: 45%;
    text-align: center;
    position: absolute;
}

@media (max-width: 1000px){

    .jumbotron{
        background-image: url("../assets/img/jumborecortado.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .motto{
        margin-right: 30vh;
        padding: 25px;
        text-align: left;
        font-size: 30px;
        height: 55vh;
        width: 25%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
    }
}